<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttms.dao.RoleDao">
    <select id="getOneRole" parameterType="java.lang.Long" resultMap="role_menu">
        SELECT * FROM role WHERE role.uuid=#{uuid};
    </select>

    <!--<select id="selectMenuByRole" resultType="com.ttms.pojo.Menu">-->
    <!--SELECT role.*,role_menu.*,menu.*-->
    <!--FROM role,role_menu ,menu-->
    <!--WHERE menu.menuid=role_menu.menuuuid-->
    <!--AND role.uuid=role_menu.roleuuid-->
    <!--and role.uuid=#{uuid}-->
    <!--</select>-->


    <select id="selectMenuByRole" resultType="com.ttms.pojo.Menu">
        SELECT role_menu.*,menu.*
        FROM role_menu ,menu
        WHERE menu.menuid=role_menu.menuuuid
        and role_menu.roleuuid=#{uuid}
    </select>




    <resultMap id="role_menu" type="com.ttms.pojo.Role">
        <id column="uuid" property="uuid"/>
        <result column="name" property="name"/>
        <collection property="menus" ofType="com.ttms.pojo.Menu" column="uuid" select="selectMenuByRole"/>
    </resultMap>


    <select id="getList" resultType="com.ttms.pojo.Role">
        SELECT * FROM role
    </select>
    <select id="getByConditionCount" parameterType="com.ttms.pojo.Role" resultType="java.lang.Integer">
        SELECT count(*) FROM role
        <include refid="role_where"/>
    </select>
    <select id="getListByRole" parameterType="com.ttms.pojo.Role" resultType="com.ttms.pojo.Role">
        SELECT * FROM role
        <include refid="role_where"/>
    </select>

    <sql id="role_where">
        <where>
            <if test="name!=null and name!= ''">
                and name LIKE '%${name}%'
            </if>
            <if test="uuid != null and uuid !=''">
                and uuid LIKE '%${uuid}%'
            </if>
        </where>
    </sql>

    <select id="getRoleTotalCount" resultType="java.lang.Integer">
        SELECT count(*) FROM role
    </select>

    <select id="getRolesByPage" resultType="com.ttms.pojo.Role">
        SELECT * FROM role LIMIT #{L},#{pageSize}
    </select>

    <insert id="addRole" parameterType="com.ttms.pojo.Role">
        INSERT INTO role (`name`) VALUES (#{name})
    </insert>

    <update id="updateRole" parameterType="com.ttms.pojo.Role">
        UPDATE role SET `name` = #{name} WHERE `uuid` = #{uuid}
    </update>
    <delete id="deleteRole" parameterType="java.lang.String">
        DELETE FROM role WHERE `uuid` = #{uuid}
    </delete>

</mapper>

